body {
  background-color: grey;
  font-family: monospace;
  text-align: center;
  margin:auto;
}

h1 {
  font-size: 50px;
}

input[type=text], textarea {
  width: 50%;
  height: 60px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

label {
  display: block;
}

button {
  display: block;
  text-decoration: none;
  text-align:center;
  margin:auto;
}

h2, p {
  font-size: 1.5em;
}

h2 {
  text-shadow: -2px -1px 12px black;
  font-weight: bold;
}
